.Lt-izquieda {
    background-color: #f8f9fa;
    min-height: 93vh;
 }
 .hidden {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;
    position: absolute;
}